@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: hsl(212, 57%, 55%);
  font-family: 'Ubuntu', sans-serif;
}

/* .invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
} */

.invalid input{
  @apply bg-Strawberry-red text-White focus:bg-Purplish-blue
}

.error-text{
  @apply text-Strawberry-red
}